# Welcome to Python reference
    this notebook contains pretty much every thing, if you want to refresh your knowledge or what so ever 
    it will help you ;D

<ul>
    <li>Data types<ul>
        <li>Numbers</li>
        <li>Strings</li>
        <li>Lists</li>
        <li>Dictionairies</li>
        <li>Booleans</li>
        <li>Tuples</li>
        <li>Sets</li>
        <li>Printing</li>
    </ul></li>
    <li>Comparaison operators</li>
    <li>if, elif, else Statements</li>
    <li>for loops</li>
    <li>while loops</li>
    <li>range()</li>
    <li>functions</li>
    <li>lambda expressions</li>
    <li>map and filter</li>
    <li>inputs and castings</li>
<ul>

## Data types :

###    1 - Numbers :

In [7]:
# operations on numbers 
print("Addition 1 + 1 : "         + str(1 + 1) + " Type of the output : " + str(type(1 + 1))) #Addition
print("Devision 1 / 2 : "         + str(1 / 2) + " Type of the output : " + str(type(1 / 2))) #Devision
print("Multiplication 2 * 3 : "   + str(2 * 3) + " Type of the output : " + str(type(2 * 3))) #Multiplication
print("Modulus 2 % 3 : "          + str(2 % 3) + " Type of the output : " + str(type(2 % 3))) #Modulus
print("Exponential 2** 3 : "      + str(2** 3) + " Type of the output :"  + str(type(2** 3))) #Exponential

Addition 1 + 1 : 2 Type of the output : <class 'int'>
Devision 1 / 2 : 0.5 Type of the output : <class 'float'>
Multiplication 2 * 3 : 6 Type of the output : <class 'int'>
Modulus 2 % 3 : 2 Type of the output : <class 'int'>
Exponential 2** 3 : 8 Type of the output :<class 'int'>

### 2 - Strings :

In [8]:
'this is a string'
"and this is also a string"

'and this is also a string'

In [9]:
hello = 'hello'

In [11]:
#format the print 
age = 17 
name = 'titiche'
print('My name is {} and i\'am {} years old'.format(name, age))

My name is titiche and i'am 17 years old

In [17]:
#strings are also arrays with indexes , remember indexes start with 0
print("full string : " + name)#the full string
print("index       : " + name[3])#character in the index 3
print("slicing     : " + name[2:])#you can slice a string starting from an index to the end 
print("slicing     : " + name[:-2])#also another slicing starting from the begenning to the -2 index before last

full string : titiche
index       : i
slicing     : tiche
slicing     : titic

### 3 - Lists :

In [19]:
#lists are sequence of elements separated by commas
a = [1, 2, 3] # this is a list
a

[1, 2, 3]

In [20]:
a = ['A', 'B', 'C', 3] # this is also a list

In [21]:
a

['A', 'B', 'C', 3]

In [22]:
# to Add an element to the end of list
a.append(name)
a

['A', 'B', 'C', 3, 'titiche']

In [23]:
#you can slice a list or access it with an index 
print(a[2])#index 
print(a[3:])#slicing

C
[3, 'titiche']

In [24]:
#you can have a list in a list 
b = ['a', 2, a]

In [25]:
b

['a', 2, ['A', 'B', 'C', 3, 'titiche']]

In [26]:
#you can duplicate the list many times 
b = [1, 2]*4

In [27]:
b

[1, 2, 1, 2, 1, 2, 1, 2]

In [28]:
#you can concatenate two lists
a + b

['A', 'B', 'C', 3, 'titiche', 1, 2, 1, 2, 1, 2, 1, 2]

### 4 - Dictionaries :

In [30]:
#dictionary is some key value pairs 
d = {} #empty dictionary
d[name] = age #the key is titich and the value is age

In [31]:
d

{'titiche': 17}

In [33]:
#you can access it with key
d[name]

17

### 5 - Booleans :

In [34]:
# booleans ... this is the hardest part of the notebook :P
#there is two types of booleans
True  #either true
False #or false

False

### 6 - Tuples :

In [35]:
#tuples are just like lists , at the exception of you can't change elements inside a tuple
tup = (1, 2, 3)#nothing to e afraid of

In [36]:
tup

(1, 2, 3)

### 7 - Sets

In [42]:
#sets are collection of unique elements
a = {1, 2, 3, 3, 2, 2, 3, 3, 4, 5, 4}

In [43]:
a

{1, 2, 3, 4, 5}

In [44]:
#you can convert a list to a set 
set([1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5])

{1, 2, 3, 4, 5}

In [45]:
#you can add an element to a set 
a.add(100)

In [46]:
a

{1, 2, 3, 4, 5, 100}

In [47]:
#if it already exist it ignores it
a.add(100)

In [48]:
a

{1, 2, 3, 4, 5, 100}

## Comparaison operators :

In [49]:
1 > 2 #greater than

False

In [50]:
3 <= 5 #lower or equal than

True

In [51]:
3 == 5 - 2 #equals   ### double equal sign to compare

True

In [52]:
'hello' != name ## not equals

True

In [54]:
(1 < 2) and (3 > 2) #combine two statements with and

True

In [55]:
(1 < 2) or (3 <= 2) #combine two statements with or

True

## if, elif, else statements :

In [56]:
if 1 < 2:
    print('something')

something

In [57]:
#you can make multiple cases
if 1 > 2:
    print('hello')
elif 2 > 3:
    print('i don\'t know what to write')
elif name == 'titiche':
    print('hello master {} '.format(name))
else:
    print('Default case')

hello master titiche

## for loops :

In [58]:
seq = [1, 2, 3, 4]

In [62]:
#do some stuff many times
for item in seq:
    print(item, end='->')

1->2->3->4->

## while loops :

In [68]:
i = 1
while i <= 20:
    print(i, end='->')
    i = i+1   #ahha we don't whant to have an infinite loop do we ?

1->2->3->4->5->6->7->8->9->10->11->12->13->14->15->16->17->18->19->20->

## range :

In [69]:
#this is a generator 
for i in range(20):
    print(i, end='->')

0->1->2->3->4->5->6->7->8->9->10->11->12->13->14->15->16->17->18->19->

In [70]:
range(10)

range(0, 10)

In [71]:
list(range(10)) # this is called casting we basicly convert the type from range to list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## List Comprehension :

In [1]:
x = []
for num in range(5):
    x.append(num)
x

[0, 1, 2, 3, 4]

In [2]:
# a better way to do it
x = [num for num in range(5)]
x

[0, 1, 2, 3, 4]

## Functions :

In [3]:
#function definition
def my_function(param):
    """ 
    This is a doctstring
    basicly you write how to use this function here
    """
    print(param)

In [5]:
my_function('titiche')

titiche

## map :

In [7]:
def square(x):
    return x**2
x = [1, 2, 3, 4]

In [12]:
# use map to apply the function to every element in list
list(map(square, x))

[1, 4, 9, 16]

## lambda expression :

In [13]:
square = lambda x: x**2 + 1
#define a function quickly

## filter :

In [15]:
x = [1, 2, 3, 4, 5, 6, 7]
list(filter(lambda x: x%2 == 0, x))

[2, 4, 6]